@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital@0;1&display=swap');

:root{
    --negro         : #0b090aff;
    --blanco        : #ffffffff;
    --tipo-principal   : 'Bebas Neue', cursive;
    --tipo-secundaria  : 'Montserrat', sans-serif;
  }
  
  * , *::before , *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }

  *::before , *::after{
    display: block;
  }
  
  img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
  }
  
  a {
    display: block;
    text-decoration: none;
    color:inherit;
    font-size:inherit;
  }

  p a {
    display: inline;
  }
  
  li {
    list-style-type: none;
    list-style-position:inside;
  }
  
  h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
  }

  blockquote:before, blockquote:after, q:before, q:after {
      content: '';
      content: none;
  }
  
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  form , input, textarea, select , button , label{
      font-family: inherit;
      font-size: inherit;
      background-color: transparent;
      color:inherit;
      display: block;
  }
  
  table , tr , td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  svg{
      width: 100%;
      display: block;
      fill: currentColor;
  }
  
  body {
    font-family: var(--tipo-secundaria);
    min-height: 100vh;
    font-size: 100%;
    color: var(--negro);
  }

  main {
    min-height: 50vh;
  }