@import "../colores";

@mixin button-1 {
    a::after {
        content: '';
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, $night, $blood-red, $imperial-red);
        transform: scaleX(0);
        transition: transform .5s ease;
        transform-origin: right;
    }
    
    a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
    }
}      

@mixin button-2 {
    button {
        position: relative;

        &.learn-more{
            width: 12rem;

            .button-text {
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0.75rem 0;
                margin: 0 0 0 1.85rem;
                color: $eerie-black;
                font-weight: 700;
                line-height: 1.6;
                text-align: center;
                text-transform: uppercase;
            }

            .circle {
                transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1);
                position: relative;
                display: block;
                width: 3rem;
                height: 3rem;
                background: $eerie-black;
                border-radius: 1.625rem;

                .icon {
                    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background: $white;

                    &.arrow {
                        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                        left: 0.625rem;
                        width: 1.125rem;
                        height: 0.125rem;
                        background: none;

                        &::before {
                            position: absolute;
                            content: "";
                            top: -0.25rem;
                            right: 0.0625rem;
                            width: 0.625rem;
                            height: 0.625rem;
                            border-top: 0.125rem solid $white;
                            border-right: 0.125rem solid $white;
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }

        &:hover {

            .circle {
                width: 100%;

                .icon.arrow {
                    background: $white;
                    transform: translate(1rem, 0);
                }
            }

            .button-text {
                color: $white;
            }
        }
    }
}